/* Index Page Styles */

#banner {
    height: 232px;
}

#sports-img, #casual-img, #formal-img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
}

#banner-text h1{
    font-size: 5em;
    font-weight: lighter;
}

#categorias {
    height: 2030px;
}

#categorias-title {
    height: 50px;
    top: 64px;
}

#categorias-title h2,
#novedades-title h2 {
    font-size: 2.4em;
    font-weight: normal;
}

.cards {
    height: 590px;
    top: 116px;
}

#formal-title a,
#casual-title a,
#sports-title a,
#novedades-title a {
    height: 30px;
    width: 30px;
    mask: url("../img/img_btns/arrow.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/arrow.svg") no-repeat center;
    -webkit-mask-size: 100%;
    transition: background-color 0.3s ease-in-out;
}

#formal-title h3,
#casual-title h3,
#sports-title h3 {
    font-size: 2em;
    font-weight: normal;
}

.carousel-item {
    transition: transform .5s ease-in-out;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    opacity: unset;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.carousel-control-next-icon {
    mask: url("../img/img_btns/angle-right.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/angle-right.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

.carousel-control-prev-icon {
    mask: url("../img/img_btns/angle-left.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/angle-left.svg") no-repeat center;
    -webkit-mask-size: 100%;
}