#store {
    margin-top: 64px;
    width: 100%;
}

#store-options,
#pagination {
    width: 100%;
}

#filter-button {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease-in-out;
    mask: url("../img/img_btns/Store-btns/bars-filter.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/Store-btns/bars-filter.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

#products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 70vw);
    justify-items: center;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    gap: 20px;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pagination button {
    border: none;
    width: 30px;
    height: 40px;
    cursor: pointer;
    font-size: large;
}

#pagination button:not(.pagination-button.next, .pagination-button.prev) {
    background-color: transparent;
    transition: color 0.3s;
}

.pagination-button.next,
.pagination-button.prev {
    transition: background-color 0.3s;
}

.pagination-button.prev {
    mask: url("../img/img_btns/Store-btns/angle-small-left.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/Store-btns/angle-small-left.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

.pagination-button.next {
    mask: url("../img/img_btns/Store-btns/angle-small-right.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/Store-btns/angle-small-right.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

.pagination-button.active {
    font-weight: bold;
    pointer-events: none;
}

/* Media Queries */

@media (min-width: 768px) {
    #products {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 45vw);
    }
}

@media (min-width: 1024px) {
    #products {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 35vw);
    }
}