#banner {
    margin-top: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 232px;
}

.background {
    width: 100%;
    height: 100%;
}

.background-img {
    position: absolute;
    opacity: .45;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#sports-img, #casual-img, #formal-img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 80%);
}

#banner-text {
    position: relative;
    font-size: 2em;
    text-align: center;
}

#banner-text h1 {
    font-size: 2.4em;
    font-weight: lighter;
}

#categorias,
#novedades {
    position: relative;
}

#categorias {
    height: 2030px;
}

#novedades {
    height: auto;
    width: 100%;
}

#novedades-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 40px 6px 40px;
}

#categorias-title {
    position: sticky;
    top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 0 6px 0;
}

#categorias-title h2,
#novedades-title h2 {
    font-size: 2.4em;
    font-weight: normal;
}

.cards {
    position: sticky;
    top: 116px;
    overflow: hidden;
    width: 100%;
    height: 590px;
}

.card-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px 8px 40px;
}

.card-title a,
#novedades-title a {
    height: 30px;
    width: 30px;
    mask: url("../img/img_btns/arrow.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/arrow.svg") no-repeat center;
    -webkit-mask-size: 100%;
    transition: background-color 0.3s ease-in-out;
}

.card-title h3 {
    font-size: 2em;
    font-weight: normal;
}

#carrusel-novedades {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 10px 10px 20px 10px;
}

#carrusel {
    width: 100%;
    height: 100%;
    align-content: center;
    overflow: hidden;
}

#carrusel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carrusel-item {
    display: grid;
    grid-template: 70vw / repeat(2, 1fr);
    justify-content: center;
    padding: 10px;
    gap: 20px;
    flex: 0 0 100%;
}

.carrusel-button:not(#carrusel-controls .carrusel-button){
    display: none;
}

#carrusel-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 0 40px;
}

#carrusel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.indicator {
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.indicator.active {
    background-color: rgba(0,0,0,0.8);
    pointer-events: none;
}

.carrusel-button {
    width: 30px;
    height: 30px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.next-button {
    mask: url("../img/img_btns/angle-right.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/angle-right.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

.prev-button {
    mask: url("../img/img_btns/angle-left.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("../img/img_btns/angle-left.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

/* Media Queries */

@media (min-width: 768px) {
    .carrusel-item {
        grid-template: 40vw / repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .carrusel-item {
        grid-template: 35vw / repeat(4, 1fr);
    }
}

@media (min-width: 768px) or (min-width: 1024px) {
    #carrusel-novedades {
        grid-template-columns: 40px 1fr 40px;
        grid-template-rows: 1fr auto;
        justify-items: center;
        margin: 10px 20px 20px 20px;
    }

    #carrusel-controls {
        grid-column: 2;
        grid-row: 2;
        justify-content: center;
    }

    .carrusel-button {
        display: none;
    }

    .carrusel-button:not(#carrusel-controls .carrusel-button){
        display: block;
    }
}