:root {
    --primary-color: #F2BED1;
    --secondary-color: #2C2C2C;
    --tertiary-color: #F8F8F8;
    --quaternary-color: #D9D9D9;
    --quinary-color: #9E768F;
    --senary-color: #A8B1C1;
    --font-family: "Montserrat", sans-serif;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

/* Header */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 4;
    justify-content: center;
    align-content: center;
}

#header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav {
    display: none;
}

#logo {
    width: 180px;
    height: 50px;
    mask: url("./Assets/Logo-completo.svg");
    mask-size: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: background-color 0.3s ease-in-out;
}

#header-icons, #contact-icons {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

#header-icons {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

#header-icons button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

#search-button.disabled,
#bag-button.disabled,
#favorite-button.disabled,
#login-button.disabled {
    pointer-events: none;
}

#search-button {
    mask: url("./Assets/Header-masks/search.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("./Assets/Header-masks/search.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

#bag-button {
    mask: url("./Assets/Header-masks/bag.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("./Assets/Header-masks/bag.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

#favorite-button {
    mask: url("./Assets/Header-masks/favorite.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("./Assets/Header-masks/favorite.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

#login-button {
    mask: url("./Assets/Header-masks/usuario.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("./Assets/Header-masks/usuario.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

#burger-button {
    mask: url("./Assets/Header-masks/burger.svg") no-repeat center;
    mask-size: 100%;
    -webkit-mask: url("./Assets/Header-masks/burger.svg") no-repeat center;
    -webkit-mask-size: 100%;
}

/* Slaps */

#login-slap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

#login-topbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 20px 20px 0 0;
}

#login-grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

#login {
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
}

#login-img {
    display: block;
    position: relative;
    background-image: url("./Assets/login-img.jpg");
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 35%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 35%);
}

#login-title {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#login-form label {
    align-self: start;
    font-size: 1em;
    font-weight: thinner;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 10px;
    padding: 2px;
    font-size: .8em;
}

#login-form input[type="submit"],
#login-form input[type="button"] {
    height: 40px;
    width: 100%;
    color: var(--tertiary-color);
    font-size: .9em;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#login-form input[type="submit"]:hover {
    background-color: var(--primary-color);
}
#login-form input[type="button"]:hover {
    background-color: var(--senary-color);
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 0 50px;
}

#login-form div:last-child {
    gap: 10px;
}

#forgot-password {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease-in-out;
    margin-top: 20px;
    text-decoration: none;
}

#login-slap.show {
    opacity: 1;
}

#nav-slap,
#filter-slap,
#bag-slap,
#favorite-slap,
#search-slap {
    position: fixed;
    top: 64px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    z-index: 2;
}

#nav-slap,
#filter-slap {
    left: 0;
    width: 290px;
    height: calc(100% - 114px);
    transform: translateX(-290px);
}

#bag-slap,
#favorite-slap {
    right: 0;
    width: 290px;
    height: calc(100% - 114px);
    transform: translateX(290px);
}

.slap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#search-slap {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 25px;
    align-content: center;
    grid-gap: 10px;
    transform: translateY(-40px);
}

#search-form {
    width: auto;
    height: 100%;
}

#search-form input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1em;
}

#nav-slap.show,
#filter-slap.show,
#bag-slap.show,
#favorite-slap.show,
#search-slap.show,
#filter-slap.show {
    transform: translateX(0);
}

.exit {
    width: 25px;
    height: 25px;
    border: none;
    transition: background-color 0.3s ease-in-out;
    mask: url("./Assets/x.svg");
    mask-size: 100%;
    -webkit-mask: url("./Assets/x.svg");
    -webkit-mask-size: 100%;
    cursor: pointer;
}

#blur {
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fafafa10;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

#blur.show {
    visibility: visible;
}

/* elementos */

.product {
    display: grid;
    grid-template-rows: 4fr 1fr;
    width: 100%;
    height: 100%;
    gap: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.product-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 16px;
    background-image: url("./Assets/image-demo.jpg");
    background-size: cover;
    background-position: center;
    margin: 16px 16px 0 16px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
}

#product-info h4 {
    font-weight: normal;
}

#product-info p {
    font-weight: bold;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
    width: 100%;
    height: 145px;
    margin-bottom: 50px;
}

#footer-logo {
    width: 80.43px;
    height: 60.95px;
    mask: url("./Assets/Logo.svg");
    mask-size: 100%;
    -webkit-mask: url("./Assets/Logo.svg");
    -webkit-mask-size: 100%;
}

#contact-icons a {
    width: 25px;
    height: 25px;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#contact-facebook {
    mask: url("./Assets/Contact-masks/facebook.svg");
    mask-size: 100%;
    -webkit-mask: url("./Assets/Contact-masks/facebook.svg");
    -webkit-mask-size: 100%;
}

#contact-facebook:hover {
    background-color: #3b5998;
}

#contact-instagram::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#contact-instagram:hover::after {
    opacity: 1;
}

#contact-instagram {
    mask: url("./Assets/Contact-masks/instagram.svg");
    mask-size: 100%;
    -webkit-mask: url("./Assets/Contact-masks/instagram.svg");
    -webkit-mask-size: 100%;
}

#contact-whatsapp {
    mask: url("./Assets/Contact-masks/whatsapp.svg");
    mask-size: 100%;
    -webkit-mask: url("./Assets/Contact-masks/whatsapp.svg");
    -webkit-mask-size: 100%;
}

#contact-whatsapp:hover {
    background-color: #25D366;
}

/* Colors */

body,
#header,
#header-icons,
#login-slap,
#login-form input[type="email"],
#login-form input[type="password"],
#banner,
.product,
.background {
    background-color: var(--tertiary-color);
}

#nav-slap,
#filter-slap,
#bag-slap,
#favorite-slap,
#search-slap {
    background-color: var(--quaternary-color);
}

#nav a,
#login-form input[type="submit"]:hover,
#login-form input[type="button"]:hover,
#forgot-password {
    color: var(--secondary-color);
}

#logo,
#header-icons button,
#login-form input[type="submit"],
#login-form input[type="button"],
.exit,
#footer-logo,
#contact-icons a,
.card-title a,
#novedades-title a,
.carousel-btn,
#filter-button,
.pagination-button.next,
.pagination-button.prev {
    background-color: var(--secondary-color);
}

#logo:hover,
#header-icons button:hover,
.exit:hover,
.card-title a:hover,
#novedades-title a:hover,
.carousel-btn:hover,
.pagination-button.next:hover,
.pagination-button.prev:hover,
#filter-button:hover {
    background-color: var(--primary-color);
}

#nav a:hover,
#pagination button:hover,
#forgot-password:hover {
    color: var(--primary-color);
}

#burger-button.disabled,
#search-button.disabled,
#bag-button.disabled,
#favorite-button.disabled,
#login-button.disabled,
#filter-button.disabled {
    background-color: var(--quinary-color);
}

.pagination-button.active {
    color: var(--quinary-color);
}

/* Media Queries */

@media (max-width: 768px) and (max-height: 400px) {
    #login-img {
        display: none;
    }
}

@media (max-height: 400px){
    #login {
        margin-top: unset;
        align-content: center;
        height: 100%;
    }
}

@media (min-width: 768px) or (min-width: 1024px) {
    #header {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }

    #nav {
        display: flex;
        align-items: center;
        margin-left: 17px;
    }
    
    #nav li {
        display: inline;
        margin-right: 10px;
    }
    
    #nav a {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    #nav-slap {
        display: none;
    }

    #burger-button {
        display: none;
    }
    
    #header-icons {
        position: unset;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        width: auto;
    }

    #footer {
        margin-bottom: 0;
    }

    #login-grid {
        grid-template-columns: auto 1fr;
    }

    #login {
        position: relative;
    }

    #login-img {
        mask-image: none;
        -webkit-mask-image: none;
    }

    #bag-slap,
    #favorite-slap,
    #filter-slap {
        height: calc(100% - 64px);
    }
}